 


 body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}


 .logo{
-webkit-filter: contrast(40%);
filter: contrast(40%);
width: 60px;
}

.close{
  padding: 8px 10px;
}
.hader
{
  position: relative;
  width: 100%;
}
.container {
    padding: 80px 120px;
}
.container2{
  padding: 1px 100px;
}
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}


 .modal-header, h4, .close {
      background-color: #3e423e;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

#googleMap {
    width: 100%; /* Span the entire width of the screen */
    height: 400px; /* Set the height to 400 pixels */
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%); /* Change the color of the map to black and white */
}


 .person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}

/* Remove rounded borders from list */
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Remove border and add padding to thumbnails */
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}



 /* Overwrite default styles of h3 and h4 */
h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;
    color: #111;
}

/* Remove rounded borders on input fields */
.form-control {
    border-radius: 0;
}

/* Disable the ability to resize textareas */
textarea {
    resize: none;
} 

/*footer*/
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}






.video-part
{
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  height: 500px;  

}
.video-part video
{
  margin-top: -15%;
  width: 100%;


}
.video-part-content
{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  padding-top: 8%;
  background:rgba(105, 130, 189, 0.5);

}

.video-part-content .carousel-caption
{
  position: relative !important;
  left: 0%;
  right: 0%;
}
.video-part-content .carousel-indicators
{
  top: 316px;
}

.video-part-content .carousel-caption h1
{
font-size: 50px;
}
.video-part-content .carousel-caption p
{
font-size: 20px;
}
.affix
{
  width: 100%;
  transition: ease 0.5s;
  background: #fff !important;
  
}
.navbar-default.affix .navbar-nav > li > a {
  color: #333;
}

.full-width
{
  width: 100%;
  float: left;
}
.video-part-content .btn-info:hover {
  color: #fff;
  border: 1px solid #fff;
  transition: ease 0.5s;
  background: transparent;
}

.btn {
    border: 0px;
    border-radius: 4px;
}
.btn-success {
    color: #fff;
    background-color: #3E423E;

}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
}

.btn-info {
    background: #5674bc none repeat scroll 0 0;
    border: 1px solid #5674bc;
    border-radius: 0;
    color: #fff;
    transition: all 0.5s ease 0s;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-delay:1s;
  animation-duration:2s;
}



 /* Add a dark background color with a little bit see-through */
.navbar {
    margin-bottom: 0;
    background-color: white;
    border: 0;
    font-size: 12px !important;
    letter-spacing: 4px;
    opacity:0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #200303 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #0c0c0c !important;
    font-size: 13px;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: red !important;
} 

